<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>SeekCDO - Sign Up</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

		<link href="../lib/ionic/css/ionic.css" rel="stylesheet">
		<link rel="stylesheet" href="../css/allcss.css" />
		<link rel="stylesheet" href="../css/ionicons.css" />

		<script src="../lib/ionic/js/ionic.bundle.js"></script>

		<!-- Needed for Cordova/PhoneGap (will be a 404 during development) -->
		<script src="cordova.js"></script>
	</head>
	<body>
	
		<div>
			<img class="AppLogo2" src="../img/SEEK.png" alt="image" />
			<p class="SignUpTitle">Employer's Registration</p>
		</div>
		<div class="list signup">
		  <label class="item item-input formcurve">
			<span class="icon ion-person"></span>
			<input style="margin-left: 15px;" type="text" placeholder="Email Address">
		  </label>
		  <label class="item item-input formcurve" style="margin-top: 5px;">
			<span class="icon ion-lock-combination"></span>
			<input style="margin-left: 15px;" type="password" placeholder="Password">
		  </label>
		  <label class="item item-input formcurve" style="margin-top: 5px;">
			<span class="icon ion-lock-combination"></span>
			<input style="margin-left: 15px;" type="text" placeholder="Confirm Password">
		  </label>
		  <label class="item item-input formcurve" style="margin-top: 5px;">
			<span class="icon ion-android-star"></span>
			<input style="margin-left: 15px;" type="password" placeholder="DTI Permit Number">
		  </label>
		  <label class="item item-input formcurve" style="margin-top: 5px;">
			<span class="icon ion-android-bookmark"></span>
			<input style="margin-left: 15px;" type="text" placeholder="Company Name">
		  </label>
		  <label class="item item-input formcurve" style="margin-top: 5px;">
			<span class="icon ion-location"></span>
			<input style="margin-left: 15px;" type="password" placeholder="Company Address">
		  </label>
		  <button class="button button-calm col formcurve" style="margin-top: 15px; height: 15px;">
			<p style="margin: -4px 0 10px">Submit</p>
		  </button>
		</div>
		<div>
			<p class="col links" style="margin-top: 15px; margin-bottom: 0px;">Have an Account? <a class="loglink" href="/index.html">LOGIN</a></p>
		</div>
	</body>

</html>